body{
  --Navy: #1e3d59;
  --Almond: #f5f0e1;
  --Orange: #ff6e40;
  --Mango: #ffc13b;
  background-color: var(--Almond);
  color: var(--Navy)
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

}

.todo-list-container{
  display: grid; 
  grid-template-columns: 33% 33% 33%;
  width: 70%;
}

.todo-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 3px solid var(--Navy);
  border-radius: 15px;
  align-content: left; 
  margin: 2px;
  background-color: var(--Mango);
  font-weight: bold;
  font-size: 18px;
}

.remove-button{
  color: var(--Almond);
  background-color: var(--Orange);
  border: 1px solid var(--Orange);
  border-radius: 10px;
  margin-right: 4px;
  margin-top: 2px;
}

.remove-button:hover{
  color: var(--Orange);
  background-color: var(--Almond);
  border: 1px solid var(--Orange);
}

.input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 20px;
  width: 99%;
}

.add-todo{
  background-color: var(--Orange);
  color: var(--Almond);
  border: 2px solid var(--Orange);
  border-radius: 25px;
  padding: 8px 10px;
  margin-left: 5px;
}

.add-todo:hover{
  background-color: var(--Almond);
  color: var(--Orange);
  border: 2px solid var(--Orange)
}

.input{
  width: 15%;
  height: 20px
}
p{
  padding: 5px;
}